{% extends 'base1.html.twig' %}


{% block body %}
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({{ asset('assetClient/images/backg.jpg') }});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">Products By Category &amp; Section</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Category <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row d-flex">

                <form>
                    <input type="text" placeholder="name item"/>
                    <input type="text" placeholder="surname item"/>
                    <input type="text" placeholder="age item"/>
                    <p>{{ namecar }}</p>
                </form>

{#                {% for p in products %}#}

{#                    <div class="col-md-4 d-flex ftco-animate">#}
{#                        <div class="blog-entry justify-content-end">#}
{#                            <a href="#" class="block-20" style="background-image: url({{ asset('uploads/produit_image/'~p.image) }});">#}
{#                            </a>#}
{#                            <div class="text mt-3 float-right d-block">#}

{#                                <h3 class="heading"><a href="#">{{ p.nom }}</a></h3>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

{#                {% endfor %}#}


            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}